card-component {
  display: flex;
  flex-wrap: wrap;
}

card-component .card {
  background-color: var(--card-bg-color);
  width: var(--card-width);
  max-width: var(--card-width);
  border-radius: var(--card-border-radius);
  padding: 1rem;
  margin: 5px;
  flex: 1 0 var(--card-width);
}

card-component .card img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

card-component .card-content {
  text-align: center;
}

.hamburger-menu {
  height: 4rem;
}

@media only screen and (max-width: 768px) {
  card-component .card {
    flex: 1 0 30%;
  }
}
